body {
	background-color: #688A08;
	background-image: url('/images/background.png');
}

.content {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 10px 10px 5px #333;
	-moz-box-shadow: 10px 10px 5px #333;
	-webkit-box-shadow: 10px 10px 5px #333;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.9);
	padding: 10px 20px;
}

.clear {
	clear: both;
}

.left {
	float: left;
	margin: 10px 0 0 15px;
}

.right {
	float: right;
	margin: 15px 15px 0 0;
}

.right .btn {
	margin-left: 20px;
}

.left_wrapper {
	width: 640px;
	float: left;
	margin-top: 10px;
	overflow-y: auto;
}
