.content {
	margin: 10px 20px;
}

.hidden {
	display: none;
}

.draft_base {
	width: 600px;
	display: none;
}

.draft_info {
	padding: 7px;
	border: 3px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 10px;
	display: block;
}

.draft_info table {
	width: 100%;
}

.draft_info table .participants {
	border-top: 1px solid #999;
}

.draft_info h3, .draft_info h5 {
	font-weight: normal;
	white-space: nowrap;
}

.draft_info h3 span, .draft_info h5 span {
	font-weight: bold;
}

.draft_waiting_start {
	text-align: center;
}

.draft_start_button {
	margin-top: 20px;
}

.draft_start_button .loader {
	display: none;
}

.draft_start {
	text-align: center;
}

.draft_start #counter {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.draft_pick {
	text-align: center;
}

.draft_pick #counter {
	float: right;
}

.draft_pick .loader {
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

.draft_pick .cards {
	border-collapse: collapse;
}

.draft_pick .cards td {
	padding-right: 10px;
	padding-top: 10px;
}

.draft_pick .cards img {
	padding: 5px;
	cursor: pointer;
}

.draft_pick .cards.picking img {
	cursor: progress;
}

.draft_pick .cards.picked img {
	cursor: default !important;
}

.draft_pick .cards img.picking {
	border: 3px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 2px;
}

.draft_pick .cards img.picked {
	border-color: #42A3B9 !important;
}

.display_card {
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	z-index: 9001;
}
