.content {
	margin: 10px 20px;
}

.hidden {
	display: none;
}

.draft_base {
	width: 600px;
	display: none;
}

.draft_info {
	padding: 7px;
	border: 3px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 10px;
	display: block;
}

.draft_info table {
	width: 100%;
}

.draft_info table .participants {
	border-top: 1px solid #999;
}

.draft_info h3, .draft_info h5 {
	font-weight: normal;
	white-space: nowrap;
}

.draft_info h3 span, .draft_info h5 span {
	font-weight: bold;
}

.draft_waiting_start {
	text-align: center;
}

.draft_start_button {
	margin-top: 20px;
}

.draft_start_button img {
	display: none;
}

.draft_start {
	text-align: center;
}

.draft_pick {
	text-align: center;
}

.loader {
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

.draft_pick .cards {
	border-collapse: collapse;
}

.draft_pick .cards td {
	padding-right: 10px;
	padding-top: 10px;
}

.draft_pick .cards img {
	padding: 5px;
	cursor: pointer;
}

.draft_pick .cards.picking img {
	cursor: progress;
}

.draft_pick .cards.picked img {
	cursor: default !important;
}

.draft_pick .cards img.picking {
	border: 3px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 2px;
}

.draft_pick .cards img.picked {
	border-color: #42A3B9 !important;
}

.display_card {
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	z-index: 9001;
}

.draft_look {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
}

.draft_look .loader {
	margin-top: 0px;
}

.draft_look .deck {
	display: none;
	text-align: left;
}

.draft_look .deck .deck_finish {
	float: right;
}

.draft_look .deck .buffer {
	display: none;
}

.draft_look .deck .slot {
	width: 189px;
	float: left;
	border-left: 1px solid #FFF;
	padding: 0 5px;
	min-height: 100px;
}

.draft_look .deck .slot:first-child {
	border-left: none;
}

.draft_look .deck .slot .drag_card {
	cursor: move;
}

.draft_look .deck .slot .remove_card {
	float: right;
	font-size: 90%;
	cursor: pointer;
}

.draft_look .drafted {
	text-align: left;
}

.draft_look .drafted h2 {
	display: none;
}

.draft_look .drafted_color {
	float: left;
	margin: 5px;
	width: 190px;
}

.draft_look .drafted_color:nth-child(3n+2) {
	clear: left;
}

.draft_look .drafted_color_header {
	text-decoration: underline;
	font-weight: bold;
	font-size: 120%;
}

.draft_look .drafted_row span {
	cursor: pointer;
}

.draft_look .drafted_row span:hover {
	text-decoration: underline;
}

.draft_ready {
	text-align: center;
}

.draft_ready .challenge{
	background-color: inherit !important;
	border: none !important;
	border-radius: 0 0 0 0 !important;
	box-shadow: none !important;
}
