.content {
	margin: 10px 20px;
}

.game_base {
	width: 600px;
}

.game_example {
	display: none;
}

.game_item {
	padding: 7px;
	border: 3px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	vertical-align: top;
	margin-bottom: 10px;
}

.game_item table {
	width: 100%;
}

.game_item .game_header {
	font-size: 16px;
	border-bottom: 1px solid #999;
	position: relative;
}

.game_item .game_header > a, .game_item .game_header > span {
	display: none;
}

.game_item .delete,.game_item .unjoin_going {
	position: absolute;
	bottom: 1px;
	right: 0px;
	height: 24px;
	width: 24px;
	background-image: url(/images/delete.png);
	display: none;
	cursor: pointer;
}

.game_item .game_data {
	padding-top: 10px;
	vertical-align: text-top;
}

.game_item h3, .game_item h5 {
	font-weight: normal;
	white-space: nowrap;
}

.game_item h3 span, .game_item h5 span {
	font-weight: bold;
}

.game_item .delete {
	margin-top: 30px;
	display: none;
}

.game_add {
	text-align: center;
	height: 260px;
	display: table-cell;
	vertical-align: middle;
	border: 10px solid #999;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.game_add fieldset {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.game_add .game_form_show {
	margin-right: 30px;
}

.game_add .form-horizontal {
	display: none;
}

.form-horizontal .controls {
	margin-left: 190px;
}

.game_add .game-actions {
	text-align: center;
}

.game_add .control-group {
	margin-bottom: 3px;
}

.game_add .control-group.add {
	font-size: 120%;
}

.game_add .add-label {
	position: relative;
	bottom: 3px;
}

.game_add .control-label {
	width: 180px;
}

.game_add .game_form_3 .control-group {
	margin-bottom: 30px;
}

.loader {
	display: none;
}
