.content {
	margin: 60px 120px;
}

.tabbable form {
	background-color: inherit !important;
}

.processing-image {
	display: none;
}

.ready-image {
	float: right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('/images/no_avatar.png');
	width: 100px;
	height: 100px;
	border: 2px dashed #B6B6B6;
	margin: 5px 10px;
	position: relative;
}
