.idea/*
images/avatar/*
!images/avatar/.gitignore
images/small/*
!images/small/Land/
!images/small/.gitignore
images/full/*
!images/full/Land/
!images/full/.gitignore
images/import/*
!images/import/.gitignore

cache/*
!cache/.gitignore

define.ini
