{% extends "base.html" %}

{% block content %}
	<div class="left">
		<div id="counter">
			<span class="dash minutes_dash">
				<span class="digit">0</span>
				<span class="digit">0</span>
			</span>
			<span class="dash"><span class="added">:</span></span>
			<span class="dash seconds_dash">
				<span class="digit">0</span>
				<span class="digit">0</span>
			</span>
		</div>
	</div>
	<div class="right">
		<button class="btn btn-primary index">
			<span>На главную</span>
			<i class="icon-list-alt icon-white"></i>
		</button>
		<button class="btn btn-info faq">
			<span>Частые вопросы</span>
			<i class="icon-search icon-white"></i>
		</button>
		<button class="btn btn-warning exit">
			<span>Выйти</span>
			<i class="icon-remove-circle icon-white"></i>
		</button>
	</div>
	<div class="clear"></div>
	<div class="left_wrapper">
		<div class="draft_info draft_base">
			<table>
				<tr><td>
					<h3>Владелец: <span>{{draft.login}}</span></h3>
					<h5>Время на выбор карты: <span class="pick_time"></span></h5>
					<h5>Пауза между бустерами: <span class="pause_time"></span></h5>
				</td><td>
					<h5>Первый бустер: <span>{{draft.booster.0.name}}</span></h5>
					<h5>Второй бустер: <span>{{draft.booster.1.name}}</span></h5>
					<h5>Третий бустер: <span>{{draft.booster.2.name}}</span></h5>
				</td></tr>
				<tr><td colspan="2" class="participants">
				</td></tr>
			</table>
		</div>
		<div class="draft_waiting_start draft_base">
			<h2>Ожидаем старта</h2>
			{% if draft.id_user == user.id %}
				<button class="btn btn-success btn-large draft_start_button">
					Начать драфт c текущим составом
					<img src="/images/loading.gif" />
				</button>
			{% endif %}
		</div>
		<div class="draft_start draft_base">
			<h2>Отсчет до начала.</h2>
		</div>
		<div class="draft_pick draft_base">
			<img class="loader" src="/images/ajax-loader.gif" />
			<div class="clear"></div>
			<table class="cards">
				<tr>
					<td class="card_1"><img /></td>
					<td class="card_2"><img /></td>
					<td class="card_3"><img /></td>
					<td class="card_4"><img /></td>
					<td class="card_5"><img /></td>
				</tr>
				<tr>
					<td class="card_6"><img /></td>
					<td class="card_7"><img /></td>
					<td class="card_8"><img /></td>
					<td class="card_9"><img /></td>
					<td class="card_10"><img /></td>
				</tr>
				<tr>
					<td class="card_11"><img /></td>
					<td class="card_12"><img /></td>
					<td class="card_13"><img /></td>
					<td class="card_14"><img /></td>
					<td class="card_15"><img /></td>
				</tr>
			</table>
		</div>
		<div class="draft_look draft_base">
			<img class="loader" src="/images/ajax-loader2.gif" />
			<div class="deck">
				<button class="btn disabled deck_finish">
					<span>Готово</span>
				</button>
				<h2>Колода <span class="count_cards">(карт: <span class="count">0</span>)</span></h2>
				<div class="clear"></div>
				<div class="slot_holder">
					<div class="slot"><div class="items"></div><div class="clear"></div></div>
					<div class="slot"><div class="items"></div><div class="clear"></div></div>
					<div class="slot"><div class="items"></div><div class="clear"></div></div>
				</div>
				<div class="buffer"></div>
			</div>
			<div class="clear"></div>
			<div class="drafted">
				<h2>Сайдборд</h2>
			</div>
			<div class="clear"></div>
		</div>
		<div class="draft_ready draft_base">
			<!-- <button class="btn deck_side">
				<span>Посайдиться</span>
			</button>
			<button class="btn disabled deck_unside">
				<span>Рассайдиться</span>
			</button>
			<br /> -->
			<div class="challenge well form-inline">
				Оппоненты:
				<select class="opponents"></select>
				<button class="btn">Вызвать</button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var Draft = {
			id: {{draft.id}},
			id_owner: {{draft.id_user}},
			state: {{draft.state}},
			owner: '{{draft.login}}',
			card: {},
			forced: {},
			users: {},
			opponents: {},
			pick_time: {{draft.pick_time}},
			pause_time: {{draft.pause_time}},
			current_action: false,
			current_action_time: false,
			booster: [
				{% for booster in draft.booster %}
					{id: '{{booster.id}}', name: '{{booster.name}}',
						state: {{booster.state}}}
					{% if not loop.last %},{% endif %}
				{% endfor %}
			]
		};
	</script>
	<script type="text/javascript">var Chat = {room: {{draft.id}}, freq: 2000};</script>
	{% include 'chat.html' %}
	<div class="display_card"><img /></div>
{% endblock %}
