{% extends "base.html" %}

{% block content %}
	<div class="right">
		<button class="btn btn-primary index">
			<span>На главную</span>
			<i class="icon-list-alt icon-white"></i>
		</button>
		<button class="btn btn-warning exit">
			<span>Выйти</span>
			<i class="icon-remove-circle icon-white"></i>
		</button>
	</div>
	<div class="clear"></div>
	<div class="question">Q: Что это такое?</div>
	<div class="answer">
		A: Это сервис для тренировки перед участием в
			<a href="http://wiki.mtgsalvation.com/article/Booster_draft">драфт-формате</a>
			турниров Magic The Gathering.
		Набранные вами здесь карты не представляют никакой ценности
			и не могут быть использованы в любом другом месте.
	</div>
	<div class="question">Q: Как будут проходить дуэли набранными колодами?</div>
	<div class="answer">
		A: С помощью движка для игры от mtg.ru. Большое спасибо его автору.
	</div>
	<div class="question">Q: Где здесь создать турнирную сетку?</div>
	<div class="answer">
		A: Не вижу необходимости повторять то, что уже сделано другими и сделано хорошо.
			Для ведения турнирной сетки воспользуйтесь сторонними сервисами.
			Например <a href="http://challonge.com/">http://challonge.com</a>.
	</div>
	<div class="question">Q: Что мне понадобится для участия?</div>
	<div class="answer">
		A:
		<ul>
			<li>1) Регистрация на этом сервисе.</li>
			<li>2) Достаточно шустрый интернет-канал и более-менее приличные пинги.</li>
			<li>3) Любая достаточно свежая версия современного браузера кроме Internet Explorer.
				Internet Explorer не поддерживается движком для игры.
				Рекомендуемые браузеры - Mozilla Firefox и Google Chrome.
				В других современных браузерах (Opera, Safari) драфт-сервис тоже по идее должен работать, но не протестирован.</li>
			<li>4) Не слишком древний и слабый компьютер.
				Требования нашего сервиса невелики, но во время драфта счет идет на секунды,
				и ждать вас никто не будет.</li>
		</ul>
	</div>
	<div class="question">Q: Зачем нужен отсчет до начала? Запускайте уже драфт!</div>
	<div class="answer">
		A: В отличие от реальной жизни, где несложно убедиться что все за столом и готовы играть, при игре онлайн это не так очевидно.
			За период пока участники собирались, пришедшие первыми неизбежно успеют заскучать,
			и имея под рукой браузер переключатся на другие вкладки. Или даже вообще отойдут от компьютера.
			Отсчет до начала это "буферная зона", время которое дано таким людям, чтобы в очередной раз заглянув на вкладку с драфтом заметить отсчет и приготовиться.
	</div>
	<div class="question">Q: Я выбрал карту, но новый список на выбор не получил. Оно повисло?</div>
	<div class="answer">
		A: Нет, скорее всего оно ждет, пока выберут остальные. Карты передаются всеми одновременно.
			Выбравшие отмечены подчеркиванием под ником в списке участников.
	</div>
	<div class="question">Q: Согласно секундомеру у меня оставалось еще целых две секунды, но оно сказало что я зазевался и сунуло случайную карту!</div>
	<div class="answer">
		A: Синхронизация по времени реализована с погрешностью в 2-3 секунды, учитывайте это.
	</div>
	<div class="question">Q: Почему посмотреть уже набранные карты можно только в паузе между бустерами? Я хочу это сделать перед выбором карты.</div>
	<div class="answer">
		A: На реальных драфтах будет точно тоже самое правило.
			Поэтому и в наших тренировочных драфтах мы его придерживаемся.
			Как и в настоящих драфтах, вы имеете право положить рядом с собой блокнот и делать в нем пометки.
			Только учтите что это будет в ущерб вашему времени на принятие решения.
	</div>
	<div class="question">Q: У меня в бустере 2 редких карты (4 нечастых, 2 одинаковых)! Как такое может быть?</div>
	<div class="answer">
		A: Согласно последним правилам составления бустеров, где-то в каждый четвертый кладут <a href="http://wiki.mtgsalvation.com/article/Foil">фойловую карту</a>.
			Она всегда заменяет собой частую карту, даже если является нечастой или редкой. Более того, она может совпадать с уже имеющейся в бустере картой.
			Если вы увидели такую картину, значит подразумевается, что одна из этих карт - фойл.
	</div>
	<div class="question">Q: Зачем поле для колоды разделено на три колонки?</div>
	<div class="answer">
		A: Для удобства. Перетаскивайте карты между ними зажав кнопку мыши.
			Вы можете разделить свою колоду на два цвета и земли, или на существа/прочее/земли, например.
	</div>
	<div class="question">Q: Почему кнопка "готово" при наборе колоды неактивна?</div>
	<div class="answer">
		A: Минимальный размер колоды в драфте - 40 карт.
			Кроме этого есть дополнительное ограничение, накладываемое движком mtg.ru. В колоде не может быть больше 25 разных наименований карт.
			При соблюдении обоих условий кнопка станет активной.
	</div>
	<div class="question">Q: Я вызвал оппонента, но от меня требуют логин и пароль! Что делать?</div>
	<div class="answer">
		A: Используйте аккаунт 'test', пароль 'test'. Со временем это неудобство будет устранено.
	</div>
	<div class="question">Q: Я вызвал оппонента, но игра не началась. В чем дело?</div>
	<div class="answer">
		A: Ваш оппонент должен выразить свое согласие на матч, вызвав вас в ответ.
	</div>
	<div class="question">Q: Я хочу посайдится между играми! Куда нажать?</div>
	<div class="answer">
		A: Возможность посайдиться будет добавлена после того как mtg.ru снимет ограничение в 25 разных именований карт.
	</div>
{% endblock %}
