{% extends "base.html" %}

{% block content %}
	<div class="left">
		<div id="counter">
			<span class="dash minutes_dash">
				<span class="digit">0</span>
				<span class="digit">0</span>
			</span>
			<span class="dash"><span class="added">:</span></span>
			<span class="dash seconds_dash">
				<span class="digit">0</span>
				<span class="digit">0</span>
			</span>
		</div>
		<button class="btn btn-danger info" rel="#overlay">
			<i class="icon-question-sign icon-white"></i>
			<span>Результаты</span>
		</button>
		<button class="btn music_off hidden" title="Звуковые эффекты включены">
			<i class="icon-music"></i>
		</button>
		<button class="btn music_on hidden" title="Звук отключен">
			<i class="icon-volume-off"></i>
		</button>
		<button class="btn settings" title="Настройки" rel="#settings">
			<i class="icon-cog"></i>
		</button>
	</div>
	<div class="right">
		<a class="btn btn-primary" href="/">
			<span>На главную</span>
			<i class="icon-list-alt icon-white"></i>
		</a>
		<a class="btn btn-info" href="/faq/">
			<span>Частые вопросы</span>
			<i class="icon-search icon-white"></i>
		</a>
		<a class="btn btn-success" href="/todo/">
			<span>Ваши предложения</span>
			<i class="icon-tag icon-white"></i>
		</a>
		<button class="btn btn-warning exit">
			<span>Выйти</span>
			<i class="icon-remove-circle icon-white"></i>
		</button>
	</div>
	<div class="clear"></div>
	<div class="left_wrapper">
		<div class="game_info game_base">
			<table>
				{% if game.type == 3 %}
					<tr><td colspan="2">
						<h4>Владелец: <span>{{game.login}}</span></h4>
					</td></tr>
					<tr><td>
						<h5 class="start">Время начала: <span class="utc_date"></span></h5>
					</td><td>
						<h5>Бустер: <span>{{game.booster.0.name}}</span></h5>
					</td></tr>
				{% elseif game.type == 2 %}
					<tr><td colspan="2">
						<h4 class="start" style="float:right;">
							Начало: <span class="utc_date"></span>
						</h4>
						<h4>Владелец: <span>{{game.login}}</span></h4>
					</td></tr>
					<tr><td>
						<h5>Первый бустер: <span>{{game.booster.0.name}}</span></h5>
						<h5>Второй бустер: <span>{{game.booster.1.name}}</span></h5>
						<h5>Третий бустер: <span>{{game.booster.2.name}}</span></h5>
					</td><td>
						<h5>Четвертый бустер: <span>{{game.booster.3.name}}</span></h5>
						<h5>Пятый бустер: <span>{{game.booster.4.name}}</span></h5>
						<h5>Шестой бустер: <span>{{game.booster.5.name}}</span></h5>
					</td></tr>
				{% else %}
					<tr><td colspan="2">
						<h4>Владелец: <span>{{game.login}}</span></h4>
					</td></tr>
					<tr><td>
						<h5 class="start">Время начала: <span class="utc_date"></span></h5>
						<h5>Время на выбор карты: <span class="pick_time"></span></h5>
						<h5>Пауза между бустерами: <span class="pause_time"></span></h5>
					</td><td>
						<h5>Первый бустер: <span>{{game.booster.0.name}}</span></h5>
						<h5>Второй бустер: <span>{{game.booster.1.name}}</span></h5>
						<h5>Третий бустер: <span>{{game.booster.2.name}}</span></h5>
					</td></tr>
				{% endif %}
				<tr><td colspan="2" class="participants">
				</td></tr>
			</table>
		</div>
		<div class="game_waiting_start game_base">
			<h2>Ожидаем старта</h2>
			{% if game.id_user == user.id %}
				<button class="btn btn-success btn-large game_start_button">
					Начать игру c текущим составом
					<img src="/images/loading.gif" />
				</button>
			{% endif %}
		</div>
		<div class="game_start game_base">
			<h2>Отсчет до начала.</h2>
		</div>
		<div class="game_pick game_base">
			<img class="loader" src="/images/ajax-loader.gif" />
			<div class="clear"></div>
			<table class="cards">
				<tr>
					<td class="card_1"><img /></td>
					<td class="card_2"><img /></td>
					<td class="card_3"><img /></td>
					<td class="card_4"><img /></td>
					<td class="card_5"><img /></td>
				</tr>
				<tr>
					<td class="card_6"><img /></td>
					<td class="card_7"><img /></td>
					<td class="card_8"><img /></td>
					<td class="card_9"><img /></td>
					<td class="card_10"><img /></td>
				</tr>
				<tr>
					<td class="card_11"><img /></td>
					<td class="card_12"><img /></td>
					<td class="card_13"><img /></td>
					<td class="card_14"><img /></td>
					<td class="card_15"><img /></td>
				</tr>
			</table>
		</div>
		<div class="game_look game_base">
			<img class="loader" src="/images/ajax-loader2.gif" />
			<div class="deck">
				<button class="btn disabled deck_finish">
					<span>Готово</span>
				</button>
				<h2>Колода <span class="count_cards">(карт: <span class="count">0</span>)</span></h2>
				<div class="clear"></div>
				<div class="slot_holder">
					<div class="slot"><div class="items"></div><div class="clear"></div></div>
					<div class="slot"><div class="items"></div><div class="clear"></div></div>
					<div class="slot"><div class="items"></div><div class="clear"></div></div>
				</div>
				<div class="buffer"></div>
			</div>
			<div class="clear"></div>
			<div class="gameed">
				<h2>Сайдборд</h2>
			</div>
			<div class="clear"></div>
		</div>
		<div class="game_ready game_base">
			<div class="challenge well form-inline">
				Оппоненты:
				<select class="opponents"></select>
				<button class="btn">Вызвать</button>
			</div>
			<br />
			<button class="btn deck_side">
				<span>Редактировать колоду</span>
			</button>
		</div>
	</div>
	<script type="text/javascript">
		var Game = {
			id: {{game.id}},
			type: {{game.type}},
			id_owner: {{game.id_user}},
			state: {{game.state}},
			owner: '{{game.login}}',
			card: {},
			forced: {},
			users: {},
			opponents: {},
			pick_time: {{game.pick_time}},
			pause_time: {{game.pause_time}},
			start: {{game.start}},
			current_action: false,
			current_action_time: false,
			booster: [
				{% for booster in game.booster %}
					{id: '{{booster.id}}', name: '{{booster.name}}',
						state: {{booster.state}}}
					{% if not loop.last %},{% endif %}
				{% endfor %}
			]
		};
	</script>
	<script type="text/javascript" src="/external/m/?b=js/game&f={{js.game}}.js&ver={{js.gametime}}"></script>
	<script type="text/javascript">var Chat = {room: {{game.id}}, freq: 2000};</script>
	{% include 'chat.html' %}
	<div class="display_card"><img /></div>
	<div id="overlay"><div class="overlay_content"></div></div>
	<div id="settings">{% include 'settings.html' %}</div>
{% endblock %}
