{% extends "base.html" %}

{% block content %}
	<div class="left">
		<button class="btn btn-danger info" rel="#overlay">
			<i class="icon-question-sign icon-white"></i>
			<span>Объявления</span>
		</button>
		<button class="btn music_off hidden" title="Звуковые эффекты включены">
			<i class="icon-music"></i>
		</button>
		<button class="btn music_on hidden" title="Звук отключен">
			<i class="icon-volume-off"></i>
		</button>
		<button class="btn settings" title="Настройки" rel="#settings">
			<i class="icon-cog"></i>
		</button>
	</div>
	<div class="right">
		<a class="btn btn-info" href="/faq/">
			<span>Частые вопросы</span>
			<i class="icon-search icon-white"></i>
		</a>
		<a class="btn btn-success" href="/todo/">
			<span>Ваши предложения</span>
			<i class="icon-tag icon-white"></i>
		</a>
		<button class="btn btn-warning exit">
			<span>Выйти</span>
			<i class="icon-remove-circle icon-white"></i>
		</button>
	</div>
	<div class="clear"></div>
	<div class="left_wrapper">
		<div class="game_base game_example game_example_1 game_item">
			{% include 'index/example_draft.html' %}
		</div>
		<div class="game_base game_example game_example_2 game_item">
			{% include 'index/example_sealed.html' %}
		</div>
	<!--	<div class="game_base game_example game_example_3 game_item">
			{% include 'index/example_masters.html' %}
		</div> -->
		<div class="game_base game_add">
			<div class="control-group add">
				<span class="add-label" for="game_type">
					Новая игра:
				</span>
				<select id="game_type">
					<option value="1">Драфт</option>
					<option value="2">Силед</option>
					<!-- <option value="3">Мини-мастерс</option> -->
				</select>
				<br />
				<button class="btn btn-primary game_form_show" type="submit">
					Создать
				</button>
			</div>
			<div class="form-horizontal game_form_1">
				{% include 'index/add_draft.html' %}
			</div>
			<div class="form-horizontal game_form_2">
				{% include 'index/add_sealed.html' %}
			</div>
		<!--	<div class="form-horizontal game_form_3">
				{% include 'index/add_masters.html' %}
			</div> -->
		</div>
	</div>
	<script type="text/javascript">var Chat = {room: 0, freq: 3000};</script>
	{% include 'chat.html' %}
	<div id="overlay"><div class="overlay_content"></div></div>
	<div id="settings">{% include 'settings.html' %}</div>
{% endblock %}
