{% extends "base.html" %}

{% block content %}
	<div class="left">
		<button class="btn btn-danger info" rel="#overlay">
			<i class="icon-question-sign icon-white"></i>
			<span>Объявления</span>
		</button>
	</div>
	<div class="right">
		<a class="btn btn-info" href="/faq/">
			<span>Частые вопросы</span>
			<i class="icon-search icon-white"></i>
		</a>
		<a class="btn btn-success" href="/todo/">
			<span>Ваши предложения</span>
			<i class="icon-tag icon-white"></i>
		</a>
		<button class="btn btn-warning exit">
			<span>Выйти</span>
			<i class="icon-remove-circle icon-white"></i>
		</button>
	</div>
	<div class="clear"></div>
	<div class="left_wrapper">
		<div class="draft_base draft_example draft_item">
			<table><tr><td>
				<h3>Владелец: <span class="name"></span></h3>
				<h5 class="start">Время начала: <span class="timestart"></span></h5>
				<h5>Первый бустер: <span class="booster_1"></span></h5>
				<h5>Второй бустер: <span class="booster_2"></span></h5>
				<h5>Третий бустер: <span class="booster_3"></span></h5>
				<h5>Время на выбор карты: <span class="pick_time"></span></h5>
				<h5>Пауза между бустерами: <span class="pause_time"></span></h5>
			</td><td class="join_wrapper">
				<div class="wrapper_state wrapper_state_0">
					<a class="join" href="" target="_blank">
						<button class="btn btn-large">Присоединиться</button>
					</a>
					<div class="delete">
						<button class="btn btn-danger">Удалить драфт</button>
					</div>
				</div>
				<div class="wrapper_state wrapper_state_1">
					<h3>Драфт уже идет</h3>
					<a class="join join_going" href="" target="_blank">
						<button class="btn">Войти</button>
					</a>
					<a class="unjoin_going" href="#">
						<button class="btn">Покинуть</button>
					</a>
				</div>
			</td></tr></table>
		</div>
		<div class="draft_base sealed_example draft_item">
			<table><tr><td>
				<h3>Владелец: <span class="name"></span></h3>
				<h5 class="start">Время начала: <span class="timestart"></span></h5>
				<h5>Первый бустер: <span class="booster_1"></span></h5>
				<h5>Второй бустер: <span class="booster_2"></span></h5>
				<h5>Третий бустер: <span class="booster_3"></span></h5>
				<h5>Четвертый бустер: <span class="booster_4"></span></h5>
				<h5>Пятый бустер: <span class="booster_5"></span></h5>
				<h5>Шестой бустер: <span class="booster_6"></span></h5>
			</td><td class="join_wrapper">
				<div class="wrapper_state wrapper_state_0">
					<a class="join" href="" target="_blank">
						<button class="btn btn-large">Присоединиться</button>
					</a>
					<div class="delete">
						<button class="btn btn-danger">Удалить sealed</button>
					</div>
				</div>
				<div class="wrapper_state wrapper_state_1">
					<h3>Sealed уже идет</h3>
					<a class="join join_going" href="" target="_blank">
						<button class="btn">Войти</button>
					</a>
					<a class="unjoin_going" href="#">
						<button class="btn">Покинуть</button>
					</a>
				</div>
			</td></tr></table>
		</div>
		<div class="draft_base draft_add">
			<button class="btn btn-primary btn-large draft_form_show" type="submit">
				Создать новый драфт
			</button>
			<button class="btn btn-primary btn-large sealed_form_show" type="submit">
				Создать новый Sealed
			</button>
			<div class="form-horizontal draft_form">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="timestart">Время начала:</label>
						<div class="controls">
							<input id="timestart_draft" name="start" type="text" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select01">Первый бустер:</label>
						<div class="controls">
							<select id="select01" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select02">Второй бустер:</label>
						<div class="controls">
							<select id="select02" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select03">Третий бустер:</label>
						<div class="controls">
							<select id="select03" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select04">Время на выбор карты:</label>
						<div class="controls">
							<select id="select04" name="pick_time">
								<option value="10">10 секунд</option>
								<option value="15">15 секунд</option>
								<option value="20">20 секунд</option>
								<option value="25">25 секунд</option>
								<option value="30">30 секунд</option>
								<option value="40">40 секунд</option>
								<option value="50">50 секунд</option>
								<option value="60" class="selected">60 секунд</option>
								<option value="90">90 секунд</option>
								<option value="120">2 минуты</option>
								<option value="180">3 минуты</option>
								<option value="240">4 минуты</option>
								<option value="300">5 минут</option>
								<option value="420">7 минут</option>
								<option value="600">10 минут</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select05">Пауза между бустерами:</label>
						<div class="controls">
							<select id="select05" name="pause_time">
								<option value="30">30 секунд</option>
								<option value="40">40 секунд</option>
								<option value="50">50 секунд</option>
								<option value="60">1 минута</option>
								<option value="120">2 минуты</option>
								<option value="180" class="selected">3 минуты</option>
								<option value="240">4 минуты</option>
								<option value="300">5 минут</option>
								<option value="420">7 минут</option>
								<option value="600">10 минут</option>
								<option value="900">15 минут</option>
								<option value="1200">20 минут</option>
								<option value="1800">30 минут</option>
							</select>
						</div>
					</div>
					<div class="draft-actions">
						<button class="btn btn-primary draft_create">Создать</button>
						<button class="btn btn-warning draft_cancel">Отменить</button>
						<img src="/images/loading.gif" class="loader" />
					</div>
				</fieldset>
			</div>
			<div class="form-horizontal sealed_form">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="timestart">Время начала:</label>
						<div class="controls">
							<input id="timestart_sealed" name="start" type="text" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select01">Первый бустер:</label>
						<div class="controls">
							<select id="select01" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select02">Второй бустер:</label>
						<div class="controls">
							<select id="select02" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select03">Третий бустер:</label>
						<div class="controls">
							<select id="select03" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select01">Четвертый бустер:</label>
						<div class="controls">
							<select id="select01" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select02">Пятый бустер:</label>
						<div class="controls">
							<select id="select02" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select03">Шестой бустер:</label>
						<div class="controls">
							<select id="select03" name="set[]">
								{% for set in sets %}
									<option value="{{set.id}}">{{set.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="draft-actions">
						<input name="is_sealed" type="hidden" value="1" />
						<button class="btn btn-primary sealed_create">Создать</button>
						<button class="btn btn-warning sealed_cancel">Отменить</button>
						<img src="/images/loading.gif" class="loader" />
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<script type="text/javascript">var Chat = {room: 0, freq: 3000};</script>
	{% include 'chat.html' %}
	<div id="overlay"><div class="overlay_content"></div></div>
{% endblock %}
