{% extends "base.html" %}

{% block content %}
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Логин</a></li>
		<li><a href="#tab2" data-toggle="tab">Регистрация</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<form class="well">
				<label>Имя пользователя</label>
				<input type="text" class="span3" placeholder="">
				<label>Пароль</label>
				<input type="password" class="span3" placeholder="">
				<br /><br />
				<button type="submit" class="btn">Войти</button>
			</form>
		</div>
		<div class="tab-pane" id="tab2">
			<form class="well">
				<div class="ready-image"></div>
				<label>Имя пользователя</label>
				<input type="text" class="span3" placeholder="">
				<label>Пароль</label>
				<input type="password" class="span3" placeholder="">
				<label>Повторите пароль</label>
				<input type="password" class="span3" placeholder="">
				<br /><br />
				<div class="btn" id="avatar">
					<i class="icon-upload"></i>
					<span>Загрузить аватарку</span>
					<img class="processing-image" src="/images/loading.gif" />
				</div>
				<br /><br />
				<button type="submit" class="btn">Войти</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
