{% extends "base.html" %}

{% block content %}
	<div class="right">
		<a class="btn btn-primary" href="/">
			<span>На главную</span>
			<i class="icon-list-alt icon-white"></i>
		</a>
		<a class="btn btn-info">
			<span>Частые вопросы</span>
			<i class="icon-search icon-white"></i>
		</a>
		<button class="btn btn-warning exit">
			<span>Выйти</span>
			<i class="icon-remove-circle icon-white"></i>
		</button>
	</div>
	<div class="clear"></div>
	<iframe frameborder="0" src="http://reformal.ru/widget/63782"></iframe>
{% endblock %}
