{% extends "index/example_abstract.html" %}

{% block fields %}
<td class="game_data">
	<h5 class="start">Время начала: <span class="timestart"></span></h5>
	<h5>Первый бустер: <span class="booster_1"></span></h5>
	<h5>Второй бустер: <span class="booster_2"></span></h5>
	<h5>Третий бустер: <span class="booster_3"></span></h5>
</td>
<td class="game_data">
	<h5>Четвертый бустер: <span class="booster_4"></span></h5>
	<h5>Пятый бустер: <span class="booster_5"></span></h5>
	<h5>Шестой бустер: <span class="booster_6"></span></h5>
</td>
{% endblock %}